body
{
	background-image: url(../images/bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	-webkit-backgruound-size: cover;
	-moz-background-size:cover;
	-o-background-size cover;
	background-position: center;
	background-attachment: fixed;
	font-family: 'Roboto', sans-serif;

}



h1 
{
	color: white;
	font-size: 10px;
	font-weight: normal;
	margin-bottom: 0;
	
}
 
 h2
 {
 	color: rgb(198, 170, 57);
 	font-size: 8px
 	margin-top: 0;

	font-family: 'Abril Fatface', cursive;
 }

 h4
 {
 	color: white;
 	font-size: 3px
 	margin-top: 0;

 }



.bio
{
color: white;

font-size: 14px;
border-top-style: solid;
border-top-color: rgb(198, 170, 57);
}

.me
{
	height: 150px;
	width: 150px;
	border-radius: 100%;
	border-style: solid;
	border-color: rgb(198, 170, 57);
	margin-top: 50px;
}

.about
{
	width: 500px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	background-color: rgba(0, 0, 0,  .3);

}



.projects
{
	width: 450px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	float: center;
	background-color: rgba(0, 0, 0, .3);

}